

:root {
  --palette_standard_bg: #272727;
  --palette_select: #1d1c1c;
  --palette_buttong: #44ff00;
  --palette_buttonr: #990100;
  --palette_text: #999999;
  --palette_logo: #151515;
}
html{
  background-color: var(--palette_standard_bg);
}

--pallet
body {
    background-color: var(--palette_standard_bg);
}

.bob {
    background-color: var(--palette_standard_bg);
    padding: 15px;
    text-align: center;
    height: 90px;
    max-height: 90px;
    
}


h3{
  text-align: center;
  padding-top: 2.5%;
  font-size: 5%;
}
.jeff {
    float: left;
    width: 25%;
    margin: auto;
    background-color: var(--palette_standard_bg);
    outline-color: var(--palette_logo);
    outline-style: outset;
    height: 100000px;
    max-height: 100000px;
    text-align: center;
    color: var(--palette_text);
    border-radius: 2%;
  }

.george {
    float: left;
    width: 25%;
    margin: auto;
    background-color: var(--palette_standard_bg);
    outline-color: var(--palette_logo);
    outline-style: outset;
    height: 100000px;
    max-height: 100000px;
    text-align: center;
    color: var(--palette_text);
    border-radius: 2%;

  }

.aimi {
    float: left;
    width: 25%;
    margin: auto;
    text-align: center;
    background-color: var(--palette_standard_bg);
    outline-color: var(--palette_logo);
    outline-style: outset;
    height: 100000px;
    max-height: 100000px;
    color: var(--palette_text);
    border-radius: 2%;
  }

.hayami {
    float: left;
    width: 25%;
    margin: auto;
    background-color: var(--palette_standard_bg);
    outline-color:var(--palette_logo);
    outline-style: outset;
    height: 100000px;
    max-height: 100000px;
    text-align: center;
    color: var(--palette_text);
    border-radius: 2%;

  }

.jennifer {
  border-radius: 12px;
  float: middle;
  width: 90%;
  margin: auto;

  background-color: var(--palette_logo);
  outline-style:none
  
  
  
}
  
h4 {
  text-align: center;
  color: var(--palette_text);
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.charles {
  background-color: var(--palette_buttong);
  border: none;
  color: var(--palette_highlight_bg);
  padding: 15px 32px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  width: 75%;
}
  
.jasper {
  text-align: center;
  color: darkslategrey
}

.thomas {
  display: block;
  border: 0px solid green;
  background-color: var(--palette_buttong);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  width: 75%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.nigel {
  display: block;
  border: 3px solid --palette_buttong;
  background-color: var(--palette_buttonr);
  border: none;
  width: 75%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin-bottom: 5%;
}

.martin {
  display: block;
  margin: 0;
  left: 57%;
  -ms-transform: translate(-57%, -57%);
  transform: translate(-57, -57%);
}